{% extends 'main/base.html' %}


{% block main %}

<div class="banner-section">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-text">
                <h1 class="text-center">INSCRIPTION POUR LE CLIENT</h1>
                <hr class="text-center" size="5px" color="#38a5db" width="50">
                <p class="text-center">Notre plate forme d'acquisition de clientèle est indispensable pour toute entreprise désirant développer son chiffre d'affaires.                    !</p>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}


