{% extends 'main/base.html' %}


{% block main %}



<div class="banner-section">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-text">
                <h1 class="text-center">NOS FORFAITS POUR ENTREPRENEUR     </h1>
                <hr class="text-center" size="5px" color="#38a5db" width="50">
                <p class="text-center">Choisissez un des forfaits ci-dessous et augmentez votre clientèle à l'aide de nos outils et services de visibilité web!                    !</p>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}


