{% extends 'main/base.html' %}


{% block main %}


<div class="banner-section">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-text">
                <h1 class="text-center"> SOUMETTEZ VOTRE PROJET
                </h1>
                <hr class="text-center" size="5px" color="#38a5db" width="50">
                <p class="text-center">Obtenez plusieurs soumissions d'entrepreneurs dans votre région

                </p>
            </div>
        </div>
    </div>

</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h2 class="text-center">Soumettre une Demande</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


