@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    font-family: 'Lato', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 26px;
}

.text-primary{
    color: #38a5db!important;
}
.btn-primary{
    background-color: #38a5db!important;
}
.btn-custom{
    background-color:#1f92cb;
    border-color:#38a5db;
    padding:20px;
    color:white;
    margin:20px;  
}

.input-group{
    border-color:#38a5db!important;
}
/* Top Bar */
.top-bar {
    background-color: #38a5db!important;
}
.social-icons a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-size: 10px;
}

.login a {
    color: white;
    text-decoration: none;
    font-size:12px;
}

/* Navbar */
.navbar-brand {
    color: #51b7ec;
    line-height: 1.2;
}

.navbar-brand span {
    font-size: 14px;
}

.nav-link {
    color: #666;
    font-weight:600;
}

.nav-link:hover {
    color: #51b7ec;
}

.nav-item a{
    font-size:12px;
}

.navbar {
    padding: 20px 10px;
}

.dropdown-menu{
    background-color:#38a5db!important;
    padding:5px;
}
.dropdown-item{
    color:white;
}

.dropdown-menu :hover{
    background-color:transparent;
    color:white;
}
/* Left Section Styling */
.banner-section {
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative; /* Pour positionner correctement la superposition */
    border-bottom:solid 5px #38a5db!important;

}

.banner-section p .home{
    font-size:30px;
    line-height:50px;

}
.banner-section p .inscription-text{
    font-size: 40px;
    font-weight: 900;
}
.top-text h1{
    font-size: 50px;
    font-weight: 900;
}
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de superposition semi-transparente */
}
/* Right Section Styling */
.right-section {
    /* Ajoutez votre style pour la section droite ici */
    text-align:right;
}

/* Form Styling */
form {
    max-width: 300px; /* Ajustez la largeur du formulaire selon vos besoins */
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #38a5db;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px; /* Ajoute une marge en bas pour espacement */
  position: relative; /* Permet de positionner le pseudo-élément */
}

.circle i {
  font-size: 30px; /* Taille de l'icône */
}

.circle::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px); /* Position verticale de la ligne */
  left: 0;
  width: 100%;
  height: 4px; /* Épaisseur de la ligne */
  background-color:red; /* Couleur de la ligne */
  z-index: -1; /* Assure que la ligne est en dessous du contenu */
}

.col p {
  font-size: 13px;
  color:black;
}

.call-action{
    color:black;
    font-size:20px;
}

.category{
    height:500px;
    background-color:#38a5db;
}

.category .titre{
    font-weight:900px;
    font-size:30px;
    text-align:center;
    padding:30px;

}
.projet-realisation {
    color:black;
    
}
h2 {
    color: black;
}

.card-deck {

}

.footer {
    background-color: #39b3e6;
    color: white;
    padding: 50px 0;
}
.footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .social-icons a {
    margin: 0 10px;
}