<!-- Footer -->
<div class="footer text-center" style="background-color:#39b3e6">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-12">
                <a href="/" style="color: white;">Accueil</a> |
                <a href="/cgu" style="color: white;">Conditions d'utilisation</a> |
                <a href="/Affiliation" style="color: white;">Affiliation</a> |
                <a href="/forfaits" style="color: white;">Forfaits</a> |
                <a href="/" style="color: white;">Franchise disponible</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 social-icons">
                <a href="#" style="color: white;font-size: 14px;"><i class="fab fa-youtube"></i></a>
                <a href="#" style="color: white;font-size: 14px;"><i class="fab fa-facebook-f"></i></a>
                <a href="#" style="color: white;font-size: 14px;"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" style="color: white;font-size: 14px;"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <p>&copy; 2011 - 2024 Tous droits réservés Quebecsoumissions.com.</p>
            </div>
        </div>
    </div>
</div>