<header class="banner">
    <!-- Top Bar -->
    <div class="top-bar py-2 bg-info text-white">
        <div class="container d-flex justify-content-end align-items-center">
            <div class="social-icons mr-1">
                <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white mr-3"><i class="fab fa-youtube"></i></a>
                <a href="#" class="text-white mr-3"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="text-white mr-3"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="text-white"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="login">
                {% if user.is_authenticated %}
                    <div id="user-info">
                        <span>Connecté en tant que {{ user.email }}</span>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="text-white">Connexion</a>
                {% endif %}
            </div>
            
        </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{information.logo.url}}" alt="{{information.nom}}" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SERVICES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for service in services %}
                        <a class="dropdown-item" href="{% url 'detail_service'  service.slug %}">{{service.nom}}</a>   
                        {% endfor %}                  
                         
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/forfaits" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FORFAITS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for forfait in forfaits %}
                            <a class="dropdown-item" href="/forfaits">{{forfait.nom_forfait}}</a>
                            {% endfor %}
                            

                           
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/Soummision">SOUMISSIONS</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/repertoire">RÉPERTOIRE</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/blogue">BLOGUE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">CONTACT</a>
                    </li>
                    {% if user.is_authenticated %}
                    <!-- Menu déroulant pour les utilisateurs connectés -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user pr-2"></i> TABLEAU BORD
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'home' %}">Fiche Entreprise</a>
                            {% endif %}
                            <a class="dropdown-item" href="/logout">Déconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <!-- Menu pour les utilisateurs non connectés -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            INSCRIPTION
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/inscription-entrepreneur">Pour les entrepreneurs</a>
                            <a class="dropdown-item" href="/client">Pour clients</a>
                        </div>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

